<div class="wrapper">
  <app-filter-products (filter)="searchProductByName($event)" ></app-filter-products>
  <app-category-filter (categoryName)="searchProductsByCategory($event)"></app-category-filter>
  <div class="card-deck">
    <div class="col-4 d-flex align-items-stretch" *ngFor="let p of filtered | async; index as i">
    <div class="card mt-5">
      <img class="card-img-top" src="{{p.img}}" style="width: 100%">
      <div class="card-block">
        <h4 class="card-title">{{p.nom}}</h4> 
        <p class="card-text">{{p.description}}</p>
        <p class="card-text">{{p.quantite}} &#x2764;</p>
      </div>      
      <button (click)="onAddClick(p)" class="btn btn-primary">Add to cart</button>
      <button [routerLink]="['/detail', p.idconfiserie]" class="btn btn-secondary">See more details</button>
    </div> 
    </div> 
  </div>
  <div *ngIf="isEmpty" class="alert alert-secondary" role="alert">Pas de produits disponibles pour ce mot-clé.</div>
</div>  