.icon
{
    text-align: center;
    width: 3%;
}
.chacha 
{
    margin: 0;
}
.tetiere > .logo 
{
    font-family: 'Pacifico', cursive;
    align-content: center;
    text-align: center;
}
.nav-color 
{
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: #402020;
}
.logo 
{
    background-color: #f6eddb;
}
.nav-color-link
{
    color:#f6eddb;
}
div 
{
    margin:0px;
    vertical-align: top;
}