<div class="tetiere">
  <div class="logo">
    <img class="icon" src="../assets/nyan.png">
    <p class="chacha">Les chocos de Chacha</p>
  </div>
  <div>
   <nav class="navbar navbar-expand-sm nav-color">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link nav-color-link" [routerLink]="['/home']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color-link" [routerLink]="['/products']">Nos confiseries</a>
        </li>
        <li>
          <a class="nav-link nav-color-link" [routerLink]="['/recettes']">Nos recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color-link" [routerLink]="['/myspace']">Espace client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color-link" [routerLink]="['/shopping-cart']">Panier <span class="badge badge-light" >{{qty}}</span></a>
        </li> 
      </ul>    
    </nav>
  </div>
</div>