.wrapper {
  margin: auto;
  padding: 20px;
  text-align: center; 
  width: 50%;
}
.alert-margin 
{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.button-pad 
{
  margin:10px;
}
.font-title 
{
  font-weight: bold;
}