<div class="card" *ngIf="!isSubmitted">
  <div class="card-body">
    <div>
      <h4 class="card-title">Inscription</h4>
      <h6>Veuillez saisir vos coordonnées afin de procéder à la création de votre compte.</h6>
    </div> 
    <form [formGroup]="userDetails" (ngSubmit)="onSubmit(userDetails.value)">    
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" formControlName="last_name" class="form-control" required pattern="[A-Za-z]{1,32}" [ngClass]="{'is-invalid': userDetails.controls.last_name.invalid && (userDetails.controls.last_name.touched || userDetails.controls.last_name.dirty), 'is-valid':userDetails.controls.last_name.valid && userDetails.controls.last_name.value != ''}"/>
      </div>
      <div class="form-group" >      
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" required formControlName="first_name" class="form-control"  pattern="[A-Za-z]{1,32}" [ngClass]="{'is-invalid': userDetails.controls.first_name.invalid && (userDetails.controls.first_name.touched || userDetails.controls.first_name.dirty), 'is-valid':userDetails.controls.first_name.valid && userDetails.controls.first_name.value != ''}"/>     
      </div>      
      <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" id="address"  class="form-control"  required formControlName="adress" [ngClass]="{'is-invalid': userDetails.controls.adress.invalid && (userDetails.controls.adress.touched || userDetails.controls.adress.dirty), 'is-valid':userDetails.controls.adress.valid && userDetails.controls.adress.value != ''}"/>
      </div>
      <div class="form-group mb-2">      
        <label for="postecode">Code postal</label>
        <input type="text" id="postecode" class="form-control" formControlName="zip_code" pattern="[0-9]{5}" [ngClass]="{'is-invalid': userDetails.controls.zip_code.invalid && (userDetails.controls.zip_code.touched || userDetails.controls.zip_code.dirty), 'is-valid':userDetails.controls.zip_code.valid && userDetails.controls.zip_code.value != ''}"/>     
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="city">Ville</label>
          <input class="input-field col s6" type="text" id="city" class="form-control"  formControlName="city" pattern="[A-Za-z]*" [ngClass]="{'is-invalid': userDetails.controls.city.invalid && (userDetails.controls.city.touched || userDetails.controls.city.dirty), 'is-valid':userDetails.controls.city.valid && userDetails.controls.city.value != ''}"/>         
        </div>
        <div class="form-group col-6">
          <label for="countr">Pays</label>
          <select formControlName="dialCode" class="form-control" >
            <option value="0" disabled selected>Pays</option>
            <option value="+33">France</option>
            <option value="+49">Allemagne</option>
            <option value="+387">Bosnie-Herzégovine</option>
          </select>
        </div>
      </div>    
      <div class="form-group" >           
        <label for="phone">Téléphone</label>
        <input type="tel" id="phone"  class="form-control" formControlName="phone" [value]="userDetails.get('phone').value | phoneCode: userDetails.get('dialCode').value" [ngClass]="{'is-invalid': userDetails.controls.phone.invalid && (userDetails.controls.phone.touched || userDetails.controls.phone.dirty), 'is-valid':userDetails.controls.phone.valid && userDetails.controls.phone.value != ''}"/>
      </div>
      <div class="form-group" >
        <label for="mail">Mail</label>
        <input type="email" id="mail" formControlName="mail"  class="form-control"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [ngClass]="{'is-invalid': userDetails.controls.mail.invalid && (userDetails.controls.mail.touched || userDetails.controls.mail.dirty), 'is-valid':userDetails.controls.mail.valid && userDetails.controls.mail.value != ''}"/>           
      </div>
      <div class="form-group" >       
        <label for="login">Login</label>
        <input type="text" id="login" required formControlName="login"  class="form-control"  pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" [ngClass]="{'is-invalid': userDetails.controls.login.invalid && (userDetails.controls.login.touched || userDetails.controls.login.dirty), 'is-valid':userDetails.controls.login.valid && userDetails.controls.login.value != ''}"/>    
      </div>
      <div class="form-group" >          
        <label for="passwd">Mot de passe</label>
        <input type="password" id="password" required formControlName="password"  class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Il doit contenir une minuscule, une majuscule, un chiffre et un caractère!" [ngClass]="{'is-invalid': userDetails.controls.password.invalid && (userDetails.controls.password.touched || userDetails.controls.password.dirty), 'is-valid':userDetails.controls.password.valid && userDetails.controls.password.value != ''}"/> 
      </div>
      <button type="submit" >Valider</button>
    </form>	
  </div>
</div>
<div *ngIf="isSubmitted && createdUser | async as u">
  <div color="primary" class="col-12 card">
    <div class="card-body">
      <div class="container">
        <h4 class="card-title">Récapitulatif</h4>
        <h6 class="card-text">Voici les données que vous avez saisis.</h6>
      </div>
      <div class="card-content">
        <div class="col-12 form">
          <div class="col-12 form-group">
            <label>Votre nom : </label>
            <input readonly type="text" class="form-control" placeholder="{{u.nom}}" />
          </div>
          <div class="col-12 form-group">
            <label>Votre prénom :  </label>
            <input readonly type="text" class="form-control" placeholder="{{u.prenom}}" />
          </div>
          <div class="col-12 form-group">
            <label> Votre adresse : </label>
            <input readonly type="text" class="form-control" placeholder="{{u.adresse}}" />
          </div>
          <div class="col-12 form-group">
            <label>Code postal :</label>
            <input readonly type="text" class="form-control" placeholder="{{u.codepostal}}" />
          </div>
          <div class="col-12 form-group">
            <label>Ville :  </label>
            <input readonly type="text" class="form-control" placeholder="{{u.ville}}" />
          </div>
          <div class="col-12 form-group">
            <label>Votre numéro :   </label>
            <input readonly type="text" class="form-control" placeholder="{{u.telephone}}" />
          </div>
          <div class="col-12 form-group">
            <label>Votre mail :</label>
            <input readonly type="text" class="form-control" placeholder="{{u.mail}}" />
          </div>
          <div class="col-12 form-group">
            <label>Votre nom d'utilisateur :   </label>
            <input readonly type="text" class="form-control" placeholder="{{u.login}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
